*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.container {
  width: 1350px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.first-title {
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 46px;
  line-height: 1, 3em;
  color: white;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #FFFFFF;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

a {
  -webkit-transition: color 500ms;
  transition: color 500ms;
}

button {
  border: none;
}

:root {
  --main-background-color: #222224;
  --light-background-color: #343436 ;
  --second-background-color:#28282A;
  --black: #000000;
  --shrift:#FFFFFF;
  --background-buttons:#222224;
  --akcent-color:#F2C938;
}

.head {
  background-color: #000000;
}

.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 32px;
  padding-bottom: 13px;
}

.logo {
  margin-right: 174px;
  font-family: "Trade Winds";
  font-weight: 400;
  line-height: 1.4;
  color: #F2C938;
  text-transform: capitalize;
}

.head_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head_item {
  margin-right: 20px;
}
.head_item:last-child {
  margin-right: 0;
}

.head_link {
  font-weight: 500;
  line-height: 1.16;
}
.head_link:focus, .head_link:hover {
  color: #F2C938;
}

.header_oder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.head_mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  line-height: 1.14;
}
.head_mobail:focus, .head_mobail:hover {
  color: #F2C938;
}

.head_button {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  background-color: #F2C938;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 160px;
  padding: 12px 37px;
  margin-left: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.head_button:focus, .head_button:hover {
  background-color: #45B26B;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #F2C938;
  margin-right: 10px;
}

.hero {
  width: 100%;
  max-width: 1920px;
  height: 870px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(21.1%, rgba(0, 0, 0, 0.357)), color-stop(66.01%, rgba(0, 0, 0, 0.7))), url("../sass/images/background-img.jpg");
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.357) 21.1%, rgba(0, 0, 0, 0.7) 66.01%), url("../sass/images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #222224;
}

.conteiner_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 174px;
  padding-bottom: 176px;
}

.hero_wraper {
  width: 684px;
}

.hero_title {
  margin-bottom: 20px;
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 85px;
  text-transform: capitalize;
  line-height: 1.4;
}

.hero_text {
  margin-bottom: 30px;
  font-family: "Ubuntu";
  font-weight: 400;
  line-height: 1.5;
}

.icon-corner {
  fill: #F2C938;
  position: absolute;
  top: 218px;
  right: 528px;
}

.wraper_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_button {
  font-family: "Ubuntu";
  font-weight: 500;
  font-size: 25px;
  line-height: 1.14;
  color: #FFFFFF;
  background-color: #F2C938;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 251px;
  margin-right: 38px;
  padding: 20px 60px;
  border-radius: 6px;
  border: solid transparent;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero_button:hover, .hero_button:focus {
  background-color: #45B26B;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_mobail {
  font-size: 31.68px;
  line-height: 1.14;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_mobail:hover, .hero_mobail:focus {
  color: #F2C938;
}

.icon-phone-hero {
  fill: #F2C938;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 305px;
  height: 93px;
  bottom: 176px;
  right: 15px;
  padding: 14px 14px 14px 26px;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(8.6061px);
          backdrop-filter: blur(8.6061px);
  border-radius: 3%;
  position: absolute;
}

.wrapper_img_customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 114px;
  margin-right: 41px;
}

.elips_customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -25px;
}
.elips_customer:first-child {
  margin-left: 0px;
}

.wrapper_customer_text {
  text-align: center;
  width: 96px;
}

.customer_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.14;
}

.text_customer {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 4px;
}

.wrap_star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-star {
  width: 10px;
  height: 10px;
  fill: #F2C938;
}

.about {
  background-color: #222224;
}

.container_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-bottom: 105px;
}

.about_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about_item {
  width: 246px;
  margin-right: 45px;
}
.about_item:last-child {
  margin-right: 32px;
}

.wrapper_icon_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about_title {
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.about_text {
  font-size: 16px;
  line-height: 1.15;
  color: #EDEDED;
}

.about_second {
  display: display;
  border-left: 2px solid #3D3D40;
  padding-left: 34px;
  padding-top: 20px;
}

.about_second_title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.35;
  margin-bottom: 20px;
}

.about_second_text {
  line-height: 1.5;
  width: 426px;
}

.proposition {
  background-color: #28282A;
}

.container_window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.right-photo {
  position: absolute;
  bottom: 70px;
  left: -237px;
}

.window_cards_group {
  display: column;
  margin-right: 50px;
}

.window_title {
  margin-bottom: 20px;
}

.window_text {
  line-height: 1.6;
  margin-bottom: 50px;
  width: 536px;
}

.window_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #343436;
  padding: 25px 0;
}

.window_card {
  text-align: center;
  width: 220px;
  border-right: 2px solid #3D3D40;
  padding: 40px 10px;
}
.window_card:last-child {
  margin-right: 0px;
  border-right: none;
}

.card_material {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #969696;
}

.card_sales {
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

.card_price {
  font-size: 15px;
  line-height: 1.1;
  color: #616161;
  margin-bottom: 10px;
}

.card_cover {
  margin-bottom: 44px;
  font-size: 13px;
  line-height: 1.6;
  color: #969696;
}

.card_button {
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #222224;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 176px;
  padding: 11px 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card_button:hover, .card_button:focus {
  background-color: #969696;
  color: #000;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.window_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.yelow-dot {
  position: absolute;
}

.black-dot {
  position: absolute;
  bottom: 150px;
  right: 30px;
}

.proposition_img {
  z-index: 1;
}

.video {
  width: 100%;
  max-width: 1920px;
  height: 783px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../sass/images/background-red-car.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../sass/images/background-red-car.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #222224;
}

.lable_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 285px;
  bottom: 50px;
  right: 400px;
}

.wrapper_text_video {
  background-color: #222224;
  border: 1px solid transparent;
  width: 215px;
  padding: 12px 3px 11px 38px;
}

.lable_text {
  font-size: 18px;
  font-weight: 400px;
  width: 180px;
}

.wrap_icon_lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  background-color: #F2C938;
  border-top-right-radius: 10px;
}

.offer {
  background-color: #28282A;
}

.container_protection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.img-protection {
  position: absolute;
  left: -237px;
  bottom: 40px;
}

.protect_group {
  margin-right: 35px;
}

.protect_title {
  margin-bottom: 40px;
}

.protect_item {
  width: 370px;
  line-height: 1.6;
}

.protect_package {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.package {
  text-align: center;
  height: 338px;
  width: 210px;
  padding: 20px;
  border-radius: 1px solid transparent;
  border-radius: 5%;
  background-color: #343436;
  margin-right: 20px;
}
.package:last-child {
  margin: 0px;
}

.package_name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: #969696;
  margin-bottom: 15px;
}

.package_new_price {
  font-weight: 700;
  font-size: 48.69px;
  line-height: 1.1;
  margin-bottom: 2px;
}

.package_old_price {
  font-size: 15px;
  line-height: 1.14;
  color: #616161;
  margin-bottom: 25px;
}

.package_button {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #222224;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 11px 25px;
  width: 170px;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.package_button:hover, .package_button:focus {
  background-color: #969696;
  color: #222224;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.shape_dot_black {
  position: absolute;
  width: 176px;
  height: 176px;
  right: -290px;
  top: 0px;
}

.gallary {
  background-color: #343436;
}

.container_gallary {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title_gallary {
  margin-bottom: 45px;
}

.gallary_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallary_item {
  width: 312px;
  height: 302;
  margin-right: 24px;
}
.gallary_item:last-child {
  margin-right: 0;
}

.services {
  background-color: #222224;
}

.container_coating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}

.ceramic_group1 {
  display: block;
  margin-right: 136px;
}

.ceramic_title {
  margin-bottom: 20px;
}

.ceramic_text {
  margin-bottom: 45px;
  width: 536px;
  line-height: 1.6;
}

.ceramic_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ceramic_list {
  width: 312px;
  padding: 33px;
  border: 1px solid transparent;
  border-radius: 3%;
  background-color: #343436;
  margin-right: 24px;
}
.ceramic_list:last-child {
  margin-right: 0px;
}

.img-logo {
  margin-bottom: 40px;
}

.list_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  -webkit-text-decoration: underline #F2C938;
          text-decoration: underline #F2C938;
  margin-bottom: 35px;
}

.list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #969696;
  font-size: 17px;
  margin-bottom: 20px;
}
.list_item:last-child {
  margin-bottom: 60px;
}

.list_item::before {
  content: " ";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../sass/images/tickcircle.png");
  height: 21px;
  width: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 6px;
}

.list_button {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.1;
  background-color: #222224;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 246px;
  padding: 15px 30px;
  -webkit-transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list_button:hover, .list_button:focus {
  background-color: #969696;
  color: #000;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.ceramic-img-side {
  position: absolute;
  right: -237px;
  bottom: 50px;
}

.location {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #343436), color-stop(40%, #616161));
  background-image: linear-gradient(to right, #343436 60%, #616161 40%);
}

.container_location {
  position: relative;
  padding-top: 125px;
  padding-bottom: 125px;
}

.location_group1 {
  width: 545px;
}

.navigation_title {
  margin-bottom: 20px;
}

.navigation_text {
  width: 545px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.input_locat {
  outline: none;
  border: none;
  background-color: #343436;
  border: 1px solid #828282;
  height: 50px;
  width: 545px;
  padding: 10px;
  padding-left: 150px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #828282;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input_locat:hover {
  border: none;
  outline: 1px solid #F2C938;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.red_accent {
  color: #EB5757;
}

.form_inform {
  position: relative;
}

.label_location {
  position: absolute;
  top: 25%;
  left: 2%;
}

.navigation_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: #fff;
  background-color: #F2C938;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 545px;
  padding: 12px 24px;
  margin-bottom: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation_button:hover, .navigation_button:focus {
  background-color: #45B26B;
  -webkit-transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.group-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 268px;
  margin-right: 60px;
}

.navigation_mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  line-height: 1.1;
}
.navigation_mobail:hover, .navigation_mobail:focus {
  color: #F2C938;
}

.navigation_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
}
.navigation_adress:hover, .navigation_adress:focus {
  color: #F2C938;
}

.icon-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #fff;
  margin-right: 25px;
}

.social_icon_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon_location {
  border-radius: 33px;
  fill: #fff;
  padding: 5px;
}

.icon-fb-location {
  background-color: #161617;
  margin-right: 33px;
}
.icon-fb-location:hover, .icon-fb-location:focus {
  fill: #161617;
  background-color: #fff;
}

.icon-insta-location {
  background-color: #F2C938;
}
.icon-insta-location:hover, .icon-insta-location:focus {
  fill: #161617;
  background-color: #fff;
}

.map {
  position: absolute;
  top: 100px;
  right: 0px;
}

.oder {
  background-color: #222224;
  text-align: center;
}

.container_oder {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title_oder {
  line-height: 1.36;
  margin-bottom: 20px;
}

.oder-text {
  margin: auto;
  text-align: center;
  width: 793px;
  margin-bottom: 20px;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: 1.16;
}

.oder-button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #F2C938;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  padding: 15px 30px;
  width: 246px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
}
.oder-button:hover,
.oder-button :focus {
  background-color: #45B26B;
}

.oder-shape-png {
  position: absolute;
  right: -290px;
  top: 100px;
  height: 231px;
  width: 231px;
}

.contacts {
  background-color: #343436;
}

.container_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 126px;
  padding-bottom: 80px;
}

.contacts_group1 {
  margin-right: 289px;
}

.contact_text {
  font-size: 16px;
  line-height: 1.8;
  width: 271px;
  margin-top: 29px;
}

.contacts_group2 {
  width: 268px;
  margin-right: 183px;
}

.contact_link {
  margin-bottom: 30px;
}

.contact_mobail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
}
.contact_mobail:hover, .contact_mobail:focus {
  color: #F2C938;
}

.icon-phone-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #FFFFFF;
  margin-right: 25px;
}

.contact_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.1;
}
.contact_adress:hover, .contact_adress:focus {
  color: #F2C938;
}

.icon-map-location {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #FFFFFF;
  margin: 0px;
  margin-right: 25px;
}

.contact_title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.contacts_services {
  line-height: 2.4;
  margin-bottom: 2px;
}

.footer {
  background-color: #161617;
}

.container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer_text {
  font-size: 12px;
  line-height: 1.6;
  color: #777E90;
}

.social_link_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.icon-fb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #777E90;
  margin-right: 15px;
  padding: 1px;
}

.icon-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #777E90;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  width: 600px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #616161;
  padding: 20px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.close_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  position: absolute;
  top: -2%;
  right: -2%;
  background-color: #F2C938;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.icon_close {
  fill: black;
}

.form_field {
  margin-bottom: 30px;
  position: relative;
}

.modal_label {
  font-size: 18px;
  font-weight: 700;
  color: black;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
}

.modal_imput {
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #616161;
  padding: 15px;
  padding-left: 100px;
  width: 100%;
}
.modal_imput:hover, .modal_imput:focus {
  outline: 1px solid #F2C938;
  border: none;
}

.modal_textaria {
  outline: none;
  background-color: #616161;
  border: none;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  resize: none;
  padding: 15px;
  margin-bottom: 20px;
}
.modal_textaria:hover, .modal_textaria:focus {
  outline: 1px solid #F2C938;
  border: none;
}

.modal_textaria::-webkit-input-placeholder {
  color: black;
}

.modal_textaria::-moz-placeholder {
  color: black;
}

.modal_textaria:-ms-input-placeholder {
  color: black;
}

.modal_textaria::-ms-input-placeholder {
  color: black;
}

.modal_textaria::placeholder {
  color: black;
}

.wrapper_chaeckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_checkbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.checkbox_label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 20px;
  margin-bottom: 40px;
}

.custom_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #F2C938;
  background-color: #fff;
}

.icon-check {
  fill: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal_checkbox:checked + .checkbox_label .custom_checkbox {
  background-color: #F2C938;
}

.modal_submit {
  display: block;
  cursor: pointer;
  margin: auto;
  padding: 15px 30px;
  width: 246px;
  border-radius: 1px solid transparent;
  border-radius: 5px;
  background-color: #F2C938;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-align: 1, 6;
  font-family: Ubuntu;
}
.modal_submit:hover, .modal_submit:focus {
  background-color: #c8bb8a;
  color: black;
}/*# sourceMappingURL=main.css.map */