.about{
background-color: #222224;
}
.about_title {
    text-transform: uppercase;

}
.about_text{
    font-size: 16px;
    line-height: 1.15;
    color: #EDEDED;
}
.about_second_title{
font-weight: 700;
font-size: 46px;
line-height: 1.35;
}
.about_second_text{
    font-size: 18px;
    line-height: 1.5;
}