.about{
background-color: #222224;
}

.container_about {
    display: flex;
    padding-top: 100px;
    padding-bottom: 105px;
}
.about_menu {
    display: flex;
    align-items: baseline;
   
}
.about_item {
  
    width: 246px;
    margin-right: 45px;

    &:last-child {
        margin-right: 32px;
       }
}

.about_title {
    margin-bottom: 20px;
    text-transform: uppercase;

}
.about_text{
    font-size: 16px;
    line-height: 1.15;
    color: #EDEDED;
}
.icon-square{
    display: flex;
    align-items: center;
    justify-content: center;
}









.about_second {
    display: block;
    border-left: 2px solid #3D3D40 ;
    
}
.about_second_title{
font-weight: 700;
font-size: 46px;
line-height: 1.35;
margin-bottom: 20px;
}
.about_second_text {
    line-height: 1.5;
    width: 426px;
    
}