.services {
    background-color: #222224;
}
.container_coating {
padding-top: 150px;
padding-bottom: 150px;
}
.ceramic_text {
   
    line-height: 1.6;
}
.list_title {
    font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        text-decoration: underline#F2C938 ;
}

.list_item {
color:#969696;
font-size: 17px;

}
.list_button{
    font-weight: 700;
    font-size: 17px;
    line-height: 1.1;

    cursor: pointer;
    background-color: #222224;
    color: #FFFFFF;
    width: 246px;
    height: 50px;

}