.footer {
    background-color: $background-footer;
    
}
.container_footer {
    display: flex;
    padding-top:  15px;
    padding-bottom: 15px;
    
}
.footer_text{
    font-size: 12px;
    line-height: 1.6;
    color: $footer-text-color;
    
}



.social_link_footer{
display: flex;
margin-left: auto;
}

.icon-fb {
display: flex;
fill: $footer-text-color;
margin-right: 15px;
padding: 1px;
}


.icon-insta {
    display: flex;
    fill: $footer-text-color;
}