.footer {
    background-color: #161617;
    
}
.container_footer {
    display: flex;
    padding-top:  15px;
    padding-bottom: 15px;
    
}
.footer_text{
    font-size: 12px;
    line-height: 1.6;
    color: #777E90;
    
}



.social_link_footer{
display: flex;
margin-left: auto;
}

.icon-fb {
display: flex;
fill: #777E90;
margin-right: 15px;
padding: 1px;
}


.icon-insta {
    display: flex;
    fill: #777E90;
}