.gallary {
    background-color: $light-background-color;
}
.container_gallary{
    padding-top: 100px;
    padding-bottom: 100px;
}
.title_gallary{
    margin-bottom: 45px;
}
.gallary_car{
    display: flex;
}
.gallary_item {
    width: 312px;
    height: 302;
    margin-right: 24px;
    &:last-child{
        margin-right: 0;
    }
}