.head {
    background-color: #000000;
}

.container_header {
    display: flex;
   align-items: baseline;

    
     
    padding-top: 32px;
    padding-bottom: 13px;
}
.head_menu {
    display: flex;
}
.head_item {
margin-right: 20px;
&:last-child{
    margin-right: 0;
}

}

.logo{
    margin-right: 233px;
    font-family: 'Trade Winds';;
    font-weight: 400;
   
    line-height: 1.4;
    color: #F2C938;
    text-transform: capitalize;
}
.head_link {
font-weight: 500;

line-height:1.16 ;

&:focus,
&:hover {
color:#F2C938;
}

}

.header_oder {
    display: flex;
    margin-left: auto;
    align-items:center ;
    align-items: center;

}

.head_mobail{
font-size: 20px;
line-height: 1.14;
display: flex;
align-items: center;


&:focus,
&:hover {
    color: #F2C938;
}
}
.head_button {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    background-color: #F2C938;
    color: #FFFFFF;


    text-align: center;
    display: block;
     width: 160px;
     padding: 12px 37px;
     margin-left: 40px;
     cursor: pointer;
    
    border: 1px solid transparent ;
    border-radius: 5px;
    &:focus,
        &:hover {
            background-color: #45B26B;
        }
}

.icon-phone-head {
    fill: #F2C938;
    margin-right: 10px;
    display: flex;
    align-items: center;
    

   
}