.hero {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.357) 21.1%, rgba(0, 0, 0, 0.7) 66.01%),
}
.conteiner_hero{
    display: flex;
    padding-top: 174px;
    padding-bottom: 176px ;
    
}
.hero_wraper {
    width: 684px;
}
 
.hero_title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 85px;
    text-transform: capitalize;
    line-height: 1.4;
    
    

}

.hero_text {
    font-family: 'Ubuntu';
    font-weight: 400;
    
    line-height: 1.5;    
   
}
.hero_button {
    font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 25.15px;
        line-height: 1.14;
        color: #FFFFFF;
        
        background-color: #F2C938;
cursor: pointer;
 width: 251.52px ;
  height:81.74px ;  
 border-radius: 6.29px ;
 border: solid transparent;

   padding-top: 26px;
  padding-left: 57.5px;
   padding-bottom: 26px;
   padding-right: 57.5px;
}

.hero_mobail {
font-size: 31.68px;
line-height: 1.14;

}
.customer_number {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.14;
   
}

.text_customer {
    font-size: 14px; 
    line-height: 1.14;
    
}