
.hero {
 background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.357) 21.1%, rgba(0, 0, 0, 0.7) 66.01%), url("../sass/images/background-img.jpg");
 background-repeat: no-repeat;
 width: 1920px;
 height: 870px;
margin: 0 auto;
}
    
    
    
.conteiner_hero{
    display: flex;
    padding-top: 174px;
    padding-bottom: 176px ;
    position: relative;
    
}
.hero_wraper {
    width: 684px;
}
 
.hero_title {
    margin-bottom: 20px;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 85px;
    text-transform: capitalize;
    line-height: 1.4;
    
    

}

.hero_text {
    margin-bottom: 30px;
    font-family: 'Ubuntu';
    font-weight: 400;
    
    line-height: 1.5;    
   
}
.wraper_button{
    display: flex;
     align-items: baseline;
}
.hero_button {
    font-family: 'Ubuntu';
        font-weight: 500;
        font-size: 25px;
        line-height: 1.14;
        color: #FFFFFF;
        background-color: #F2C938;

     cursor: pointer;
     display: block;
     text-align: center;
     margin-right: 35px;
     width: 251px ;
    
     border-radius: 6px ;
     border: solid transparent;
    padding: 20px 60px;
    
}

.hero_mobail {
font-size: 31.68px;
line-height: 1.14;
 display: flex;

}
.icon-phone-hero {
    fill: #F2C938;
    display: flex;
    margin-right: 15px;



}
.icon-corner {
    fill: #F2C938;
    position: absolute;
    top: 218px;
    right: 528px;
}


.customer {
    display: flex;
    padding-left: 26px;
    padding-right: 14px;
    padding-bottom: 14px;
    padding-bottom: 14px;


    width: 305px;
    height: 93px;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(8.6061px);
    border-radius: 3%;
    position: absolute;
    bottom: 176px;
    right: 15px;

}

.wrapper_img_customer {
    display: flex;
    align-items: center;
    margin-right: 41px;
}

.elips_customer {
    display: flex;
    margin: -15px;

}


.customer_number {
    
    font-weight: 700;
    font-size: 30px;
    line-height: 1.14;
    margin-bottom: 4px;
    display: flex;
    
   
}

.text_customer {
    display: block;
    font-size: 14px; 
    line-height: 1.14;
    margin-bottom: 1px;
    margin-bottom: 4px;
  
    
}
.wrap_star{
    display: flex;
}
.icon-star{
    fill: #F2C938;
   }


