.location {
    background-image: linear-gradient( to right, #343436 55%, #616161 45%) ;
    
}
.container_location {
    
    padding-top: 125px;
    padding-bottom: 125px;
}
.location_group1{
   width: 545px; 
}
.navigation_title{
    margin-bottom: 20px;
}
.navigation_text {
    width: 545px;
    line-height: 1.6;

}
.navigation_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
    background-color: #F2C938;

    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 545px;
    padding: 12px 24px;
    margin-bottom: 50px;

}
.navigation_mobail{
   display: block;
    margin-bottom: 30px;
    line-height:1.1 ;
}

.navigation_adress{
    
    line-height: 1.1;
}