.location {
    background-color: #343436;
}
.container_location {
    padding-top: 125px;
    padding-bottom: 125px;
}
.navigation_text {
    
    line-height: 1.6;

}
.navigation_button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1;
    color: #fff;
    background-color: #F2C938;
    cursor: pointer;
    width:109px ;
    height: 18px;

}
.navigation_mobail{
    
    line-height:1.1 ;
}

.navigation_adress{
    
    line-height: 1.1;
}