.backdrop {
    position: fixed;
     top: 0;
     left: 0;
    width: 100%;
    height: 100%;
     background-color: rgba( 0, 0, 0, 0.5);
     z-index: 1;
   
}
.modal {
    width: 600px;
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $background-modal;
    padding: 20px;
   
}
  .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  }
 .no-scroll {
    overflow: hidden;
 }
.close_button {
    display: flex;
    align-items: center;
    
    border-radius: 50%;
    border: 1px solid transparent;
    position: absolute;
    top: -2%;
    right: -2%;
    background-color: $accent-color;
    width: 30px;
    height: 30px;
    padding: 3px;

}
.icon_close {
    fill: $black;

}
.form_field {
    margin-bottom: 30px;
    position: relative;
   

}
.modal_label{
    font-size: 18px;
    font-weight: 700;
    color: $black;
    position: absolute;
    top:50%;
    left:5%;
    transform: translate(-5%, -50%);
}
.modal_imput{
    outline: none;
    border: none;
    border: 1px solid $black;
    border-radius: 5px;
    background-color:$background-modal; 
    padding: 15px;
    padding-left: 100px;
    width: 100%;
    &:hover,
    &:focus {
    outline: 1px solid $accent-color;
        border: none;
    }
    
   
   
}

.modal_textaria {
    outline: none;
background-color: $background-modal;
border: none;
    border: 1px solid $black;
    border-radius: 5px;
    width: 100%;
    resize: none;
    padding: 15px;
    margin-bottom: 20px;
    &:hover,
        &:focus {
            outline: 1px solid $accent-color;
            border: none;
        }
    }
.modal_textaria::placeholder {
    color: $black;

}


.wrapper_chaeckbox{
   display: flex;
   justify-content: center;
}
.modal_checkbox{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    
}
.checkbox_label {
    display: flex;
    color: $black;
   font-size: 20px;
margin-bottom: 40px;

}
.custom_checkbox{
    display: flex;
    align-items: center;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 2px solid $accent-color;
    background-color: #fff;

}
.icon-check {
    fill: #fff;
    align-items: center;
}
 .modal_checkbox:checked + .checkbox_label .custom_checkbox {
     background-color: $accent-color;
     
 }


.modal_submit {
    display: block;
    cursor: pointer;
   margin: auto;

    padding: 15px 30px ;
    width: 246px;
    border-radius: 1px solid transparent;
    border-radius: 5px;
    background-color: $accent-color;
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    text-align: 1,6;
    font-family: Ubuntu;
    &:hover,
    &:focus {
        background-color: #c8bb8a;
        color: $black;
    }
}
