.oder-conteiner {
    background-color:#222224 ;
}
.title_oder {
line-height: 1.36;
}

.oder-text{
    font-family: Ubuntu;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.16;
        width:  793px;
        text-align: center;
       
}

.oder-button {
background-color: #F2C938;
font-family: Ubuntu ;
font-weight: 700;
font-size: 17px;

text-align: center;

cursor: pointer;
padding: 15px 81.5px;
border-radius: 5px solid #F2C938 ;
radius: 5px;
 width: 273.5px;
 color: #FFFFFF;

}