.oder {
    background-color:#222224 ;
}
.container_oder {
padding-top: 100px;
padding-bottom: 100px;
}
.title_oder {
line-height: 1.36;
text-align: center;
}

.oder-text{
    
    font-family: Ubuntu;
        font-weight: 400;
       
        line-height: 1.16;
        width:  793px;
        text-align: center;
       
}

.oder-button {

 text-align: center;
background-color: #F2C938;
font-family: Ubuntu ;
font-weight: 700;
font-size: 17px;



cursor: pointer;

text-align: center;
padding: 15px 81.5px;
border-radius: 5px solid #F2C938 ;
border-radius: 1px;
 width: 273.5px;
 color: #FFFFFF;

}