.offer {
  background-color:#28282A ;
}
.container_protection{
  display: flex;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
 
}

// right-side-photo
.img-protection{
  position: absolute;
   left: -237px;
  bottom: 40px;
}
// first group

.protect_group{
margin-right: 35px;
}
.protect_title{
  margin-bottom: 40px;
}
.protect_item{
  width: 370px;
  line-height: 1.6;
}

// group cards

.protect_package{
  display: flex;
}
.package {
  text-align: center;
  height: 338px;
  width: 210px;
  padding: 20px;
  
  border-radius: 1px solid transparent;
  border-radius: 5%;
  background-color: #343436;
  margin-right: 20px;
&:last-child {
  margin: 0px;
}
}
.package_name{
  font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #969696;
    margin-bottom: 15px;
}

.package_new_price{
font-weight: 700;
  font-size: 48.69px;
  line-height: 1.1;
  margin-bottom: 2px;
}
.package_old_price{
  font-size: 15px;
  line-height: 1.14;
  color: #616161;
   margin-bottom: 25px;
}

.package_button {
  font-weight: 500;
 font-size: 17px;
 text-align: center;
  color: #FFFFFF;
  background-color:#222224 ;
 


cursor: pointer;
border: 1px solid transparent;
border-radius: 5px;
padding: 11px 25px;
width: 170px;
&:hover,
  &:focus {
    background-color: #969696;
    ;
  }

}

// shape dot
.shape_dot_black {
  position: absolute;
  width: 176px;
  height: 176px;
   right:-450px;
  top: 0px;
  
}
