.video {
   width: 100%;
   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../sass/images/background-red-car.jpg");
   background-repeat: no-repeat;
   max-width: 1920px;
   height: 783px;
   margin: 0 auto;
  background-size: cover;
   position: relative;
   background-color: #222224;

 
   
}
.lable_video{
   display: flex;
   position: absolute;
   width: 285px;
   bottom: 50px;
   right: 400px;
}

.wrapper_text_video{
   background-color: #222224;
   border: 1px solid transparent;
   width: 215px;
   padding: 12px 3px 11px 38px;
}

.lable_text{
font-size: 18px;
   font-weight: 400px;
   width: 180px;
}

.wrap_icon_lable{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 70px;
   background-color: #F2C938;
    border-top-right-radius: 10px;
}