.proposition {
    background-color:  #28282A;
    
}
.container_window{
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
     position: relative;
}
.window_text_group{
    display: column;
}
.window_cards_group{
display: column;
   margin-right: 50px;
}
.window_title {
margin-bottom: 20px;

}
.window_text {

line-height: 1.6;
margin-bottom: 50px;
width: 536px;
}
.window_item {
display: flex;
border: 2px solid transparent;
border-radius: 10px;
background-color: #343436;
padding: 25px 0;
}
.window_card {
text-align: center;
width: 220px;
border-right: 2px solid #3D3D40;
padding: 40px 10px;
&:last-child {
    margin-right: 0px;
    border-right: none;
}
}
.card_material {
    margin-bottom: 15px;
font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    color: #969696;
}
.card_sales{
    margin-bottom: 2px;
font-weight: 700;
font-size: 48px;
line-height: 1.2;

}
.card_price{
    font-size:15px ;
    line-height: 1.1;
    color:#616161 ;
    margin-bottom: 10px;
}
.card_cover{
    margin-bottom: 44px;
    font-size: 13px;
        line-height: 1.6;
        color: #969696;
}
.card_button {
    font-weight: 500;
    font-size: 17px; 
    color:#FFFFFF ;
    background-color: #222224;
    cursor: pointer;
    display: inline-block;
    width: 176px;
    border-radius: 5px ;
    border: 1px solid transparent;
    padding: 11px 25px;
    &:hover,
    &:focus {
        background-color: #969696;;
    }
}
.window_img {
    display: flex;
    
}
.right-photo {
position: absolute ;
right: 1400px;
top: 75px;


}
.yelow-dot{
    position: absolute;
}
.black-dot{
    position: absolute;
    top: 700px;
    left: 1150px;
    
}
.proposition_img {
    z-index: 1;
}