h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    margin: 0;

}

.container {
    width: 1920px;
    margin: auto;
    padding: 15px;

}

.first-title {
    font-family: Ubuntu ;
    font-weight: 700;
    font-size:46px ;
    line-height: 1,3em;
    text-align: center;
    
    color: white;


}
.list {
    list-style: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}