// text-color
$first-text-color:#FFFFFF;
$second-text-color:#969696;
$footer-text-color:#777E90;
$text-color:#EDEDED;
   

// style-color
 $accent-color: #F2C938;
 $background-buttons: #222224;
 $black: #000000;
 $red-accent: #EB5757;

//  background- body-colors
$main-background-color : #222224;
$light-background-color: #343436;
$second-background-color: #28282A;
$dark-background:#222224;
$background-footer:#161617;
$background-modal:#616161;
// button
$hover-color:#45B26B;
$hover-button-second-color:#969696;
$cards-background:#343436;
$buttons-color:#222224;

// input
$color-input:#828282;